#size{
 width: 710px;
 font-size: medium;
}
body{
 background-color: rgb(112, 174, 216);
}
input[type='text']{
 width: 250px;
 font-size: medium;
}
input[type='number']{
 font-size: medium;
}
#submit{
 font-size: medium;
}